@font-face {
    font-family: 'vt323regular';
    src: url('fonts/vt323-regular-webfont.woff2') format('woff2'),
         url('fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	padding:1em;
}

header{
    background-color: #0088CC;
    padding-left: 1em;
    padding-right: 0em;
    padding-top: 1em;
    margin-bottom: 2em;
    color: white;
}

h1{
    font-family: "vt323regular";
}

header h1{
    font-size: 6em;
}


header nav{
    border-color: #454545;
    border-top-style: groove;
}

a div p{
    display: inline-block;
    font-size: 0.8em;
}

header div{
    text-align: center;
    display: inline;
}

nav > a{
    color: lightgray;
    padding-top: 0.5em;
    height: 100%;
}

nav > a:hover{
  background-color: #0099e6;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

div figure{
  display: inline-block;
}

section{
  margin: 2em;
}

section p{
  margin: 2em;
}

main h2{
  font-size: 2em;
}

main h3{
  font-size: 1.5em;
}

footer{
background-color: #0088CC;

}
footer p{
  margin: 2em;
  color: white;
  text-align: center;
}
.fonce{ 
	background-color: rgba(00,00,00,0.5);
}

.news{
  margin-left: 8em;
}

nav > div{
  float: left;
}

nav > div::after{
  content: "";
  display: block;
  clear: both;
}

nav li{
  list-style-type: none;
}

.menu_nonbootstrap .submenu{
  background-color: #0088CC;
}

.submenu{
  display: none;
}

nav div:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0em;
  z-index: 100000;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 250px;
  text-decoration: none;
}

.submenu li a:hover{
  color: white;
}

.titr{
    font-size: 4em;
}
.titre{
    font-size: 5em;
}
div{
    align-items: center;
}
.petit{
    font-size: 10px;
}
.decale{
	padding:2em;
}
